{% extends "layout.html" %}
{% block title %}Add Employee{% endblock %}
{% block content %}
{% from "company_dropdown.html" import company_dropdown %}
<div class="container-fluid">
    <div class="h1">Add Employee</div>
    <div>
        <form method="POST">
            {#
            generate fields with proper types for
            first_name (required)
            last_name (required)
            email (required)
            if a validation error occurs, the inserted form data should persist
            #vp645 Date 8/15/2023
            #}
            <div class="form-group mb-3">
                <label for="first_name" class="form-label">First Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="First Name" value="{{ form['first_name'] if form else '' }}" required>
            </div>
            <div class="form-group mb-3">
                <label for="last_name" class="form-label">Last Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Last Name" value="{{ form['last_name'] if form else '' }}" required>
            </div>
            <div class="form-group mb-3">
                <label for="email" class="form-label">Email Address <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Email Address" value="{{ form['email'] if form else '' }}" required>
            </div>
            <div class="form-group mb-3">
                <label for="company" class="form-label">Company Name</label>
                {{ company_dropdown() }}
            </div>
            <input type="submit" class="btn btn-primary" value="Save Employee" />
        </form>
    </div>
</div>
{% endblock %}